<mat-card class="receta-card">
  <mat-card-header>
    <mat-card-title class="titulo">Crear receta</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="recetaForm" class="receta-form">
      <div class="form-container">

        <div class="row">
          <div class="campo-wrapper field-nombre">
            <label class="label-campo">Nombre</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="nombre">
            </mat-form-field>
          </div>

          <div class="campo-wrapper field-tiempo">
            <label class="label-campo">Tiempo</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="tiempo">
            </mat-form-field>
          </div>
        </div>

        <div class="campo-wrapper field-descripcion">
          <label>Descripción</label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="descripcion">
          </mat-form-field>
        </div>
        <!-- Horario dinámico -->
        <div class="row">
          <div class="campo-wrapper field-tipo">
            <label class="label-campo">Horario</label>
            <mat-form-field appearance="outline">
              <mat-select formControlName="horario">
                <mat-option *ngFor="let h of horarios" [value]="h.id">
                  {{ h.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- Info nutricional -->
        <div class="seccion-nutricional">
          <h3 class="subtitulo-nutricional">Informe Nutricional</h3>

          <div class="row-nutricional">
            <div class="campo-wrapper field-nutricion">
              <label>Peso por porción (g)</label>
              <mat-form-field appearance="outline">
                <input matInput type="number" formControlName="pesoPorcion">
              </mat-form-field>
            </div>

            <div class="campo-wrapper field-nutricion">
              <label>Calorías</label>
              <mat-form-field appearance="outline">
                <input matInput type="number" formControlName="calorias">
              </mat-form-field>
            </div>
          </div>

          <div class="row-nutricional">
            <div class="campo-wrapper field-nutricion">
              <label>Grasa saturada</label>
              <mat-form-field appearance="outline">
                <input matInput type="number" formControlName="grasaSaturada">
              </mat-form-field>
            </div>

            <div class="campo-wrapper field-nutricion">
              <label>Grasa trans</label>
              <mat-form-field appearance="outline">
                <input matInput type="number" formControlName="grasaTrans">
              </mat-form-field>
            </div>
          </div>

          <div class="row-nutricional">
            <div class="campo-wrapper field-nutricion">
              <label>Proteína</label>
              <mat-form-field appearance="outline">
                <input matInput type="number" formControlName="proteina">
              </mat-form-field>
            </div>

            <div class="campo-wrapper field-nutricion">
              <label>Azúcares</label>
              <mat-form-field appearance="outline">
                <input matInput type="number" formControlName="azucares">
              </mat-form-field>
            </div>
          </div>
        </div>


        <div class="campo-wrapper field-descripcion">
          <label>Ingredientes</label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="ingredientes">
          </mat-form-field>
        </div>

        <div class="campo-wrapper field-descripcion">
          <label>Preparación</label>
          <mat-form-field appearance="outline">
            <input matInput formControlName="preparacion">
          </mat-form-field>
        </div>

        <!-- Imagen opcional -->
        <div class="imagen-container">
          <div class="imagen-upload" (click)="fileInput.click()">
            <input #fileInput type="file" accept="image/*" hidden (change)="onFileSelected($event)">

            <ng-container *ngIf="!imagenPreview; else showImg">
              <div class="placeholder-imagen">
                <mat-icon>photo_camera</mat-icon>
                <p>Subir imagen (opcional)</p>
              </div>
            </ng-container>

            <ng-template #showImg>
              <img [src]="imagenPreview" class="imagen-preview">
            </ng-template>
          </div>
        </div>

      </div>
    </form>
  </mat-card-content>

  <mat-card-actions class="botones-accion">
    <button mat-raised-button class="btn-guardar" (click)="guardar()">Registrar Receta</button>
  </mat-card-actions>
</mat-card>
