@use '@angular/material' as mat;

// Aplicar el tema global usando Material 3
html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

// Estilos base para el body
body {
  // Tema claro por defecto
  color-scheme: light;

  // Fondo blanco fijo (puedes cambiarlo si usas variables del sistema)
  background-color: white;

  // Colores y fuente usando variables del sistema Material
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Eliminar margen por defecto del navegador
  margin: 0;
}
